body {
  overflow: hidden;
}

.card-login {
  background: #fff;
  width: 100%;
  height: 100dvh;
}

.card-login .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.card-login .left-content {
  flex: 1 1 40%;
}

.card-login .right-content {
  flex: 1 1 60%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content-second {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-second .card {
  box-shadow: 0 2px 10px #f0f0f0;
}

.content-second .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.content-second .header .profile-user {
  width: 30%;
}

@media screen and (max-width: 768px) {
  body {
    overflow: scroll;
  }

  .card-login {
    height: auto;
  }

  .card-login .container {
    flex-direction: column-reverse;
  }

  .swiper-slide img {
    height: 200px;
  }
}
